body {
	background-color: blanchedalmond;
	font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.section {
	width: 1440px;
	height: 628px;
	background-color: #d5fafc;
}

.coteiner {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.left__box {
	width: 705px;
	height: 628px;
	background-color: #2ec5ce;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.left__box h2 {
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	color: #18191f;
	margin-top: 244px;
	margin-bottom: 8px;
	margin-left: 136px;
}

.left__box p {
	font-size: 18px;
	line-height: 32px;
	color: #18191f;
	width: 445px;
	margin-left: 136px;
}

.right__box {
	width: 570px;
	height: 564px;
	background-color: #ffffff;
	padding: 40px;
}

.right__box p {
	font-size: 18px;
	line-height: 32px;
	color: #18191f;
	width: 490px;
	height: 224px;
	margin-bottom: 48px;
}

/*img*/
.jj {
	margin-left: 410.35px;
}

.picture {
	margin-top: 24px;
	margin-right: 275px;
	margin-bottom: 24px;
}

.vector__one {
	margin-bottom: 13px;
	margin-left: 278px;
	margin-right: 40px;
}

.vector__two {
	margin-bottom: 13px;
}
